.main {
    background-color: #fff;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.main h1 {
    color: var(--cor1);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--cor1);
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
}